.rich-editable {
    padding: 3px;
    background: #eee;
    display: inline-block;
}

.editable {
    padding: 3px;
    background: #eee;
    display: inline-block;
}

/* this class is handled by Editable */
.is-modified {
    background: #bff !important;
}

/* this class is handled by Editable */
.is-editing {
    background: #bfb;
    outline: none;
}
